<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <title>Document</title>
</head>
<body>
    <!-- use it as a dialog overlay -->
<div class="login">
    <div class="widget">
      <div class="tabs">
        <div class="tab-heads">
           <h1 class="tab-head active"> Login </h1>
           <h1 class="tab-head"> Sign Up</h1>
        </div>
        <div class="content">
          <hr />
          <div class="tab">
            <p>Use your RobbedLemon account </p>
            <form>
              <div class="form-control">
                <input class="custom-control" id="indentifier" placeholder="Username or Email" />
                <input class="custom-control" id="authorization" type="password" placeholder="Password" />
                <button class="custom-control">Log In</button>
              </div>
            </form>
            <hr class="lg-splitter" />
            <div class="slant-square mid-splitter-horizontal" data-text="OR" ></div>
            <div class="socials">
              
              <a data-social-service="gh" href="/auth/github">git
                        <i class="fa fa-github-alt"></i>
        
              </a>
              
            </div>            
          </div>
        </div>
      </div>
    </div>
    <div id="extras" class="widget">
      <a href="#">Can't Sign in ?</a>
      <span class="splitter">|</span>
      <a href="#">Privacy</a>
      <span class="splitter">|</span>
      <a href="#">Signup</a>
    </div>
  </div>
</body>
</html>